//
// Variables
// --------------------------------------------------

//Default Image Folder
@images: 'img';

//
// COLORS
// --------------------------------------------------
@primary-text-color: #000000;
@primary-color: #000000;
@secondary-color: #555555;